<body class="scroll">
<section class="fondo">
  <div class="containerPanel">
 <div class="container">
    <div class="row">
      <div>
        <h1 class="tituloAdmin">Panel del Administrador</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="button-container">
        <a href="/api/users">
          <button class="btn btn-primary btn-lg">
            <span>Ver usuarios</span>
          </button>
        </a>
        <a href="/rol">
          <button class="btn btn-success btn-lg">
            <span>Modificar Rol</span>
          </button>
        </a>
        <button class="btn btn-danger btn-lg" id="deleteUsers">Eliminar usuarios inactivos</button>
      </div>
    </div>
  </div>
  </div>
  <footer class="footerLogin">
      <p> Created by Daira Carcamo| todos los derechos reservados</p>
  </footer>
</section>
</body>

<script src="/js/admin.js"></script>
