<section>

    <h1 class="tituloNewProduct">Ingrese el id del producto que desea borrar</h1>

    <form id="productForm" class="formulario" onsubmit="submitForm(); return false;">
        <div class="mb-3"> 
        <label for="title" class="form-label">ID de producto</label>

        <input type="text" class="form-control" name="id" id="id" required>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    
</section>


<script src="/js/deleteproductos.js"></script>