<div class="fondo">
<form class="formularioArchivos" action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data">
    <label for="file">Seleccione el tipo de archivo:</label>
    <select name="fileType" id="fileType">
        <option value="profileImage">Imagen de perfil</option>
        <option value="productImage">Imagen de producto</option>
        <option value="documentFile">Documento</option>
    </select>
    <legend>Cargar un archivo</legend>
    <input type="file" name="myFile">
    <input type="submit">
</form>


<form  class="formularioArchivos" action="/api/users/{{user._id}}/documents/multiple" method="POST" enctype="multipart/form-data">
    <label for="file">Seleccione el tipo de archivo:</label>
    <select name="fileType" id="fileType">
        <option value="productImage">Imagenes de producto</option>
        <option value="documentFile">Documentos</option>
    </select>
    <legend>Cargar multiples archivos</legend>
    <input type="file" name="myFiles" multiple>
    <input type="submit">
</form>
</div>
