
<body class="scroll">
<section class="rolContainer fondo">
    <form class="form2" onsubmit="submitForm(); return false;">
        <span class="signup">Ingrese el ID del usuario que quiera modificar</span>
        <input type="text" class="form-control form--input" placeholder="ID de usuario" id="idUser" required>
     <button type="submit" class="form--submit">Modificar</button>
    </form>
</section>
<footer class="footerLogin">
      <p> Created by Daira Carcamo | todos los derechos reservados</p>
</footer>
</body>

<script src="/js/mod.rol.js"></script>