<body class="scroll">
 <div>
        <h2 class="center">Gracias por su compra {{user.first_name}}, ¡su orden fue generada con éxito!</h2>
        <h4 class="center">Su numero de orden es: {{orderNumber}} </h4>
        <h4 class="center">El total de su compra es: $ {{total}} </h4>
        <h6 class="center">Si alguno de los productos está agotado, lo mantendremos en tu carrito para que puedas comprarlo tan pronto como se renueve el stock.</h6>
  </div>
<footer class="footerLogin">
      <p> Created by Carcamo Daira | todos los derechos reservados</p>
</footer>
</body>